/* Reset CSS */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;700&display=swap");
html,
body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: "Titillium Web", Times, serif;
  vertical-align: baseline;
}
h1,
h2,
h3,
h4 {
  margin: 0;
}

/* Variables */
:root {
  --spacing-xxl: 6rem;
  --spacing-xl: 4rem;
  --spacing-lg: 3rem;
  --spacing-md: 2rem;
  --spacing-small: 1rem;
  --spacing-xsmall: 0.5rem;
  --font-size-xl: 8rem;
  --font-size-lg: 5rem;
  --font-size-md: 4rem;
  --font-size-small: 1.3rem;
  --font-size-xsmall: 1rem;
  --base-color-1: #030224;
  --base-color-2: #25c99e;
  --base-color-3: #ffffff;
  --border-radius: 30px;
}

/* App CSS */
.landing-page {
  height: 100%;
  width: 100%;
  color: var(--base-color-3);
  background: var(--base-color-1);
  background: linear-gradient(
    215deg,
    rgba(37, 201, 158, 1) 0%,
    rgba(3, 2, 36, 1) 35%,
    rgba(3, 2, 36, 1) 5%
  );
  background-repeat: no-repeat;
}

section {
  display: block;
  margin: var(--spacing-lg) auto;
}

section h2 {
  font-size: min(7vw, 5rem);
  margin-bottom: var(--spacing-md);
}

/* Header */
.landing-header {
  display: flex;
  justify-content: end;
}

.landing-header nav {
  display: flex;
  justify-content: space-between;
}

.landing-header nav li {
  list-style: none;
  padding: var(--spacing-xsmall) var(--spacing-small);
  margin: var(--spacing-xsmall);
}
.landing-header nav li:hover {
  background-color: var(--base-color-1);
  border-radius: var(--border-radius);
}

.landing-header nav a {
  text-decoration: none;
  font-size: min(3vw, 1.5rem);
  color: var(--base-color-3);
}

/* landing logo */
.landing-logo {
  display: block;
  margin: var(--spacing-md);
}
.landing-logo h1 {
  font-size: min(10vw, 10rem);
  font-weight: 700;
  width: 70%;
}
.landing-logo span {
  color: var(--base-color-2);
}
.landing-logo--cta {
  color: var(--base-color-3);
  display: flex;
  flex-direction: column;
}
.landing-logo--cta p {
  margin: var(--spacing-md) 0;
  font-size: min(4vw, 1.3rem);
}

.landing-logo--cta-links {
  display: flex;
  font-size: min(3vw, 1rem);
}

.landing-logo--cta a {
  text-decoration: none;
  color: var(--base-color-3);
  padding: var(--spacing-xsmall);
  background: var(--base-color-2);
  border-radius: var(--border-radius);
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.landing-logo--cta a:hover {
  color: var(--base-color-1);
  background: var(--base-color-3);
}
.landing-logo--cta a:first-child {
  margin-right: var(--spacing-small);
}

/* landing steps */

.landing-steps {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 80%;
  padding-top: var(--spacing-md);
}

.landing-steps-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.landing-steps--visual {
  display: flex;
  align-items: center;
}

.landing-steps--visual .visual-info--heading {
  font-size: min(5vw, 9rem);
  margin-bottom: var(--spacing-xsmall);
}

.landing-steps--visual .visual-number {
  font-size: var(--font-size-lg);
  font-weight: 900;
  color: var(--base-color-2);
}
.landing-steps--visual .visual-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 var(--spacing-small);
  text-align: left;
}

.landing-steps--visual .visual-info--more-info {
  margin: 0;
  font-size: min(3vw, 3rem);
}

/* Landing More Info */

.landing-more-info {
  text-align: center;
  margin: 0 auto;
  width: 80%;
}

.landing-more-info h2 {
  color: var(--base-color-2);
}

.landing-more-info-content {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
}

.landing-more-info p {
  position: absolute;
  font-size: min(3vw, 1.7rem);
  line-height: 2;
  z-index: 1;
}

.pinwheel {
  filter: invert(78%) sepia(48%) saturate(3827%) hue-rotate(112deg)
    brightness(110%) contrast(71%) opacity(35%);
  max-height: 300px;
  margin: 0 auto;
}

/* Landing visit app */
.landing-visit-app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: var(--spacing-md);
}

.landing-visit-app .landing-visit-app--button {
  text-decoration: none;
  padding: var(--spacing-xsmall) var(--spacing-small);
  margin-top: var(--spacing-md);
  color: var(--base-color-3);
  background-color: var(--base-color-2);
  border-radius: var(--border-radius);
  font-size: min(2.6vw, 1.3rem);
}
.landing-visit-app .landing-visit-app--button:hover {
  color: var(--base-color-1);
  background: var(--base-color-3);
}

/* slideshow */

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
/* Position the "prev button" to the left */
.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: min(3vw, 1.3rem);
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  margin-top: 2rem;
  background-color: var(--base-color-1);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* footer */

footer {
  text-align: center;
  font-size: min(2vw, 15px);
}

@media screen and (min-width: 1025px) {
  /* section */
  section {
    margin: 0 auto var(--spacing-xxl);
    padding: var(--spacing-xxl) var(--spacing-small);
  }

  .section h2 {
    font-size: var(--font-size-lg);
    margin-bottom: var(--spacing-xl);
  }

  /* Header */
  .landing-header nav li {
    margin: var(--spacing-xsmall) var(--spacing-md);
  }

  /* landing logo */

  .landing-logo {
    margin-top: 0;
  }
  .landing-logo--cta-links {
    display: flex;
    font-size: var(--font-size-small);
  }
  .landing-logo--cta p {
    margin-bottom: var(--spacing-xl);
    padding-left: var(--spacing-xsmall);
  }
  .landing-logo--cta a {
    padding: var(--spacing-small) var(--spacing-md);
  }

  /* landing steps */
  .landing-steps {
    margin-top: 0;
  }

  .landing-steps-container {
    flex-direction: row;
    margin: var(--spacing-xl) auto 0;
  }
  .landing-steps--visual {
    margin-bottom: var(--spacing-md);
    width: 33%;
  }

  .landing-steps--visual .visual-number {
    font-size: var(--font-size-xl);
  }

  .landing-steps--visual .visual-info--more-info {
    font-size: var(--font-size-small);
  }

  /* Landing More Info */

  .pinwheel {
    filter: invert(78%) sepia(48%) saturate(3827%) hue-rotate(112deg)
      brightness(110%) contrast(71%) opacity(35%);
    height: 400px;
    margin: 0 auto;
  }

  /* Landing visit app */
  .landing-visit-app {
    margin: var(--spacing-xxl) auto;
  }

  .landing-visit-app .landing-visit-app--button {
    padding: var(--spacing-small) var(--spacing-md);
  }

  /* slideshow */

  /* Slideshow container */
  .slideshow-container {
    height: 80vh;
  }
  /* Caption text */
  .text {
    font-size: var(--font-size-small) var(--font-size-md);
  }
}
